In [0]:
!pip install yfinance
!pip install yahooquery

In [0]:
import yfinance as yf
petr = yf.Ticker("PETR4.SA")

In [0]:
petr.history(period='max')

             Open   High    Low  Close        Volume  Dividends  Stock Splits
Date
2000-01-03   4.05   4.05   4.05   4.05  3.538944e+10        0.0           0.0
2000-01-04   3.83   3.83   3.83   3.83  2.886144e+10        0.0           0.0
2000-01-05   3.79   3.79   3.79   3.79  4.303360e+10        0.0           0.0
2000-01-06   3.77   3.77   3.77   3.77  3.405568e+10        0.0           0.0
2000-01-07   3.79   3.79   3.79   3.79  2.091264e+10        0.0           0.0
...           ...    ...    ...    ...           ...        ...           ...
2020-05-19  18.51  18.93  18.41  18.68  8.013160e+07        0.0           0.0
2020-05-20  19.09  19.44  19.06  19.30  7.459510e+07        0.0           0.0
2020-05-21  19.50  19.77  19.07  19.19  8.132700e+07        0.0           0.0
2020-05-22  18.80  18.90  18.35  18.67  6.884290e+07        0.0           0.0
2020-05-25  19.48  19.56  19.26  19.48  3.077720e+07        0.0           0.0

[5016 rows x 7 columns]

In [0]:
petr.history(start='2005-05-01', end='2013-12-31')

             Open   High    Low  Close      Volume  Dividends  Stock Splits
Date
2005-05-02   8.57   8.57   8.32   8.54  19004800.0        0.0           0.0
2005-05-03   8.54   8.58   8.39   8.51  22736000.0        0.0           0.0
2005-05-04   8.52   8.68   8.52   8.63  27260800.0        0.0           0.0
2005-05-05   8.70   8.80   8.65   8.80  31670400.0        0.0           0.0
2005-05-06   8.84   9.05   8.84   8.95  29177600.0        0.0           0.0
...           ...    ...    ...    ...         ...        ...           ...
2013-12-20  15.01  15.04  14.62  14.71  26875500.0        0.0           0.0
2013-12-23  14.81  14.94  14.68  14.84  11520400.0        0.0           0.0
2013-12-26  14.92  14.96  14.70  14.72  15294800.0        0.0           0.0
2013-12-27  14.79  14.81  14.63  14.73  15114200.0        0.0           0.0
2013-12-30  14.75  15.01  14.75  14.86  10598500.0        0.0           0.0

[2106 rows x 7 columns]

In [0]:
petr = yf.download("ABEV3.SA", period='60d',  interval = "30m")
petr

[*********************100%***********************]  1 of 1 completed

                            Open   High    Low  Close  Adj Close   Volume
Datetime
2020-02-27 10:00:00-03:00  14.90  14.92  14.45  14.57      14.57  7105200
2020-02-27 10:30:00-03:00  14.58  14.73  14.56  14.61      14.61  7090800
2020-02-27 11:00:00-03:00  14.61  14.61  14.28  14.33      14.33  4913600
2020-02-27 11:30:00-03:00  14.32  14.79  14.30  14.75      14.75  8165100
2020-02-27 12:00:00-03:00  14.75  14.76  14.60  14.63      14.63  3758000
...                          ...    ...    ...    ...        ...      ...
2020-05-25 14:00:00-03:00  12.25  12.36  12.20  12.30      12.30   789100
2020-05-25 14:30:00-03:00  12.30  12.31  12.22  12.22      12.22   657900
2020-05-25 15:00:00-03:00  12.22  12.25  12.20  12.21      12.21   652100
2020-05-25 15:30:00-03:00  12.22  12.25  12.20  12.24      12.24   896800
2020-05-25 16:00:00-03:00  12.23  12.29  12.22  12.27      12.27   523000

[835 rows x 6 columns]

In [0]:
len(set(list(petr.index.date)))

60

In [0]:
petr = yf.download("ABEV3.SA", period='7d',  interval = "1m")
petr

[*********************100%***********************]  1 of 1 completed

                            Open   High    Low  Close  Adj Close  Volume
Datetime
2020-05-15 10:11:00-03:00  11.69  11.70  11.60  11.64      11.64       0
2020-05-15 10:12:00-03:00  11.63  11.66  11.58  11.66      11.66   81700
2020-05-15 10:13:00-03:00  11.68  11.68  11.64  11.67      11.67   25500
2020-05-15 10:14:00-03:00  11.68  11.71  11.68  11.69      11.69   24800
2020-05-15 10:15:00-03:00  11.68  11.68  11.64  11.65      11.65   28000
...                          ...    ...    ...    ...        ...     ...
2020-05-25 16:04:00-03:00  12.22  12.24  12.22  12.22      12.22   19000
2020-05-25 16:05:00-03:00  12.22  12.24  12.22  12.24      12.24   22100
2020-05-25 16:06:00-03:00  12.23  12.24  12.22  12.23      12.23   16800
2020-05-25 16:07:00-03:00  12.22  12.25  12.22  12.23      12.23   45300
2020-05-25 16:12:31-03:00  12.26  12.26  12.26  12.26      12.26       0

[2777 rows x 6 columns]

In [0]:
len(set(list(petr.index.date)))

7

## Informações financeiras

In [0]:
from yahooquery import Ticker

In [21]:
petr = Ticker("PETR4.SA")     # Coleta dados
petr.income_statement()       # Chama função de Demonstração de resultados
petr = petr.income_statement().transpose() # Transpoe a matriz
petr.columns = petr.iloc[0,:] # Renomeia colunas
petr = petr.iloc[2:,:-1]         # Seleciona dados
petr = petr.iloc[:, ::-1]    # Inverte colunas
petr

asOfDate                                             2019-12-31  ...   2016-12-31
BasicAverageShares                                  1.30445e+10  ...  1.30445e+10
BasicEPS                                                   0.78  ...    -0.370884
CostOfRevenue                                        4.5732e+10  ...   5.5417e+10
DepreciationAmortizationDepletionIncomeStatement       1.58e+08  ...          NaN
DilutedAverageShares                                1.30445e+10  ...  1.30445e+10
DilutedEPS                                                 0.78  ...    -0.370884
DilutedNIAvailtoComStockholders                      1.0151e+10  ...   -4.838e+09
EBIT                                                 1.8687e+10  ...     2.37e+09
EBITDA                                                      NaN  ...          NaN
EarningsFromEquityInterest                             1.53e+08  ...    -2.18e+08
ExciseTaxes                                                 NaN  ...    2.149e+10
GainOnSaleOfPPE                                       6.046e+09  ...     2.93e+08
GainOnSaleOfSecurity                                  -2.82e+09  ...   -3.358e+09
GeneralAndAdministrativeExpense                       5.682e+09  ...    6.308e+09
GrossProfit                                          3.0857e+10  ...   2.5988e+10
ImpairmentOfCapitalAssets                             2.848e+09  ...    6.193e+09
InterestExpense                                       6.684e+09  ...    6.035e+09
InterestExpenseNonOperating                           6.684e+09  ...    6.035e+09
InterestIncome                                            5e+06  ...     5.52e+08
InterestIncomeNonOperating                                5e+06  ...     5.52e+08
MinorityInterests                                     -2.12e+08  ...    -4.89e+08
NetIncome                                            1.0151e+10  ...   -4.838e+09
NetIncomeCommonStockholders                          1.0151e+10  ...   -4.838e+09
NetIncomeContinuousOperations                         7.803e+09  ...   -4.349e+09
NetIncomeDiscontinuousOperations                       2.56e+09  ...          NaN
NetIncomeFromContinuingAndDiscontinuedOperation      1.0151e+10  ...   -4.838e+09
NetIncomeFromContinuingOperationNetMinorityInte...    7.591e+09  ...   -4.838e+09
NetIncomeIncludingNoncontrollingInterests            1.0363e+10  ...   -4.349e+09
NetInterestIncome                                    -6.314e+09  ...   -5.854e+09
NetNonOperatingInterestIncomeExpense                 -6.314e+09  ...   -5.854e+09
NormalizedEBITDA                                     3.3145e+10  ...   2.7657e+10
NormalizedIncome                                     7.3453e+09  ...  4.36679e+09
OperatingExpense                                     1.2355e+10  ...   1.2259e+10
OperatingIncome                                      1.8502e+10  ...   1.3729e+10
OperatingRevenue                                     7.6589e+10  ...  1.02895e+11
OtherGandA                                            2.239e+09  ...    3.572e+09
OtherIncomeExpense                                    -1.85e+08  ...   -1.154e+10
OtherNonOperatingIncomeExpenses                       -7.16e+08  ...          NaN
OtherOperatingExpenses                                 8.44e+08  ...     7.51e+08
OtherSpecialCharges                                    1.52e+09  ...    1.393e+09
OtherTaxes                                             6.19e+08  ...     7.14e+08
PretaxIncome                                         1.2003e+10  ...   -3.665e+09
ProvisionForDoubtfulAccounts                                NaN  ...          NaN
ReconciledCostOfRevenue                              3.1054e+10  ...   5.5417e+10
ReconciledDepreciation                               1.4836e+10  ...   1.3965e+10
ResearchAndDevelopment                                 5.76e+08  ...     5.23e+08
SalariesAndWages                                      3.443e+09  ...    2.736e+09
SellingAndMarketingExpense                            4.476e+09  ...    3.963e+09
SellingGeneralAndAdministration                      1.0158e+10  ...   1.0271e+10
SpecialIncomeCharges                                  3.198e+09  ...   -7.964e+09
TaxEffectOfUnusualItems                               1.323e+08  ... -2.11721e+09
TaxProvision                                            4.2e+09  ...     6.84e+08
TaxRateForCalcs                                            0.35  ...        0.187
TotalExpenses                                        5.8087e+10  ...   6.7676e+10
TotalOperatingIncomeAsReported                       2.0614e+10  ...          NaN
TotalOtherFinanceCost                                 -3.65e+08  ...     3.71e+08
TotalRevenue                                         7.6589e+10  ...   8.1405e+10
TotalUnusualItems                                      3.78e+08  ...  -1.1322e+10
TotalUnusualItemsExcludingGoodwill                     3.78e+08  ...  -1.1322e+10
WriteOff                                              6.046e+09  ...     6.71e+08

[60 rows x 4 columns]